@font-face {
	font-family: 'complet-bold';
	src: url('completboldwebfont.eot');
	src: url('completboldwebfont.eot?#iefix') format('embedded-opentype'),
		 url('completboldwebfont.woff2') format('woff2'),
    	 url('completboldwebfont.woff') format('woff'),
	 	 url('completboldwebfont.ttf')  format('truetype'),
	 	 url('completboldwebfont.svg#svgFontName') format('svg'); 
}
@font-face {
	font-family: 'complet-regular';
	src: url('completregularwebfont.eot');
	src: url('completregularwebfont.eot?#iefix') format('embedded-opentype'),
		 url('completregularwebfont.woff2') format('woff2'),
    	 url('completregularwebfont.woff') format('woff'),
	 	 url('completregularwebfont.ttf')  format('truetype'),
	 	 url('completregularwebfont.svg#svgFontName') format('svg'); 
}