html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html,body{
    width:100%;
    height:100%;
}
* {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
body{
    background: url(images/background.jpg) no-repeat center top;
    direction: rtl;
}
#tbwa {
    position: absolute;
    width: 50px;
    height: 100px;
    top: 0;
    left: 0;
}
#thanks {
    display: none;
    font-size: 28px;
    position: relative;
    color: white;
    top: 140px;
}
#wrapper{
    position: relative;
    margin: 0 auto;
    width: 1010px;
    min-height: 1230px;
    font-family: 'complet-regular';
}

#logo{
    position: absolute;
    left: 10px;
    top: 60px;
}
h1{
    position: absolute;
    font-family: 'complet-bold';
    text-align: center;
    font-size: 60px;
    line-height: 0.7;
    top: 60px;
    right: 50px;
}

.warranty{
    color: #fff;
    position: absolute;
    top: 201px;
    width: 90px;
    font-size: 25px;
    line-height: 0.8;
    text-align: center;
}
.info{
    position: absolute;
    top: 634px;
    width: 299px;
    height: 107px;
}
.price-wrapper{
    color: #fff;
    text-align: center;
    width: 218px;
    line-height: 0.8;
    font-size: 50px;
    padding-top: 10px;
}
.price-wrapper .price{
    font-size: 70px;
}
.price-wrapper .prefix{
    font-size: 23px;
}
.price-wrapper .sufix{
    font-size: 24px;
    margin-left: 5px;
    vertical-align: top;
    border-bottom: 1px solid #fff;
}
.more-info{
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    font-size: 26px;
    text-align: center;
    color: #490d00;
    text-decoration: none;
    font-family: 'complet-bold';
    padding-top: 30px;
}
.popup{
    display: none;
    position: absolute;
    bottom: 115px;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px 10px;
}
#wrapper li{
    padding-right: 10px;
    font-size: 17px;
    letter-spacing: 1.3px;
}
#wrapper li:before{
    content: "â€¢ ";
    margin-right: -10px;
    color: #faa61a;
}

#closet-1 .warranty{
    right: 158px;
}
#closet-1 .info{
    right: 4px;
}
#closet-1 .price-wrapper{}
#closet-1 .price-wrapper .price{}
#closet-1 .price-wrapper .prefix{}
#closet-1 .price-wrapper .sufix{}
#closet-1 .more-info{
}
#closet-1 .popup{}

#closet-2 .warranty{
    right: 449px;
}
#closet-2 .info{
    left: 350px;
}
#closet-2 .width-info{
    position: absolute;
    right: 517px;
    top: 382px;
    text-align: center;
    width: 73px;
    color: #fff;
    font-family: 'complet-bold';
    font-size: 20px;
    line-height: .8;
}
#closet-2 .price-wrapper{}
#closet-2 .price-wrapper .price{}
#closet-2 .price-wrapper .prefix{}
#closet-2 .price-wrapper .sufix{}
#closet-2 .more-info{}
#closet-2 .popup{}

#left-side{
    position: absolute;
    left: 8px;
    top: 167px;
    width: 286px;
    text-align: center;
}
#logo-dovale{
    margin-top: 20px;
}
h2{
    color: #843900;
    font-size: 34px;
    line-height: .8;
    margin-top: 8px;
}

#jetform{
    color: #fff;
}
h3{
    margin-top: 30px;
    font-size: 37px;
    line-height: .8;
}
h4{
    font-size: 28px;
    margin-top: 20px;
}
input[id^="jf_txt"]{
    width: 90%;
    border-radius: 10px;
    border: none;
    height: 50px;
    margin-top: 17px;
    padding-right: 19px;
    font-size: 30px;
    font-family: 'complet-regular';
}
input[name^="jf_rdb"]{}
.radio{
    display: inline-block;
    font-size: 25px;
}
#radio-1{
    margin-left: 20px;
}
#radio-2{}
#jf_submit{
    display: block;
    margin: 5px auto 0;
    height: 47px;
    width: 90%;
    border-radius: 10px;
    background: #00ffff;
    border: none;
    color: #490d00;
    font-size: 40px;
    font-family: 'complet-regular';
}
#jf_err{
    margin-top: 15px;
    width: 100%;
    font-size: 30px;
    color: red;
    font-family: 'complet-bold';
}

.popup .close{
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;
}